.mt40{
	margin-top: 40px;
}
:focus{
	outline: none;
};
.pagination a{
	font-size: 0.5rem;
}
#input textarea{
min-height: 422px;
background: #000;
color: #bada55;
}

.notempty{
	background: #bada55;
}
#mem,#regs{
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 0.8rem;
}
#regs, #last-op{
	border-right: 1px solid red;
	font-family: "Lucida Console", Monaco, monospace;
}
#mem > div,
#regs > div,
#last-op,
#input{
	padding: 2px 5px;
}
#mem > div{
	border-right: 1px solid #070;
	border-bottom: 1px solid #070;
}
#regs > div,
#last-op {
	border-bottom: 1px dotted black;
}