@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-accordion;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;

@include motion-ui-transitions;
@include motion-ui-animations;

.mt40{
	margin-top: 40px;
}
:focus{
	outline: none;
};

#input textarea{
margin-top: 20px;
min-height: 222px;
// background: #000;
color: $primary-color;
}

.notempty{
	background: $primary-color;
	.input-group-label,
	.input-group-field,
	.input-group-button{
		background:transparent;
		color: $white;
		border: none;
	}
	.input-group-button{
		background: $secondary-color;
	}

}
#mem,#regs, #mem input{
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 0.8rem;
}
#regs{
	font-family: "Lucida Console", Monaco, monospace;
}
#mem, #regs{
	.input-group{
		margin-bottom: 0;
	}
}
#mem > div,
#regs > div,
#last-op,
#input{
	padding: 1px;
}

.op:hover{
	text-decoration: undelined;
	color: $primary-color;
	cursor: pointer;
}

.row.padded{
	padding: $topbar-padding;
}
// .menu-text:first-child{
// 	padding-left: 0;
// }

.input-group-field{
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}